.Cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 5px;
    margin: 2px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Lilita One', cursive;
    user-select: none;
}

.Cell:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);

    transition: background-color 0.4s ease-in-out;
}

.Cell--revealed {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: none;
}

.Cell--mine {
    background-color: var(--color-danger);
    color: var(--color-secondary);
}

.Cell--flagged {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}
