.Game__board {
    display: flex;
    flex-direction: column;
}

.Game__board--disabled {
    pointer-events: none;
}

.Game__board-row {
    display: flex;
    flex-direction: row;
}

/* The first child of the first row should have rounded corners on the top left */
.Game__board-row:first-child .Cell:first-child {
    border-top-left-radius: 10px;
}

/* The last child of the first row should have rounded corners on the top right */
.Game__board-row:first-child .Cell:last-child {
    border-top-right-radius: 10px;
}

/* The first child of the last row should have rounded corners on the bottom left */
.Game__board-row:last-child {
    .Cell:first-child {
        border-bottom-left-radius: 10px;
    }

    .Cell:last-child {
        border-bottom-right-radius: 10px;
    }
}

.Game__info {
    margin-bottom: 20px;
    font-size: 20px;
}

.Game__info--flag-count {
    margin-left: 10px;
}

/* default hidden */
.Game__overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    font-size: 2rem;
    color: var(--color-primary);
}

.Game__overlay.is-visible {
    display: block;
    opacity: 100%;
}

.Game__overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 var(--color-primary);

    & button {
        font-family: 'Gabarito', sans-serif;
        font-size: 2rem;
        font-weight: 900;
        background-color: var(--color-primary);
        color: var(--color-secondary);
        border: none;
        border-radius: 10px;
        padding: 10px 20px;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}

.Game__end {
    display: none;
    flex-direction: column;
    align-items: center;
}

.Game__end.is-visible {
    display: flex;
}

.Game__end-content {
    display: none;
}

.Game__end-content.Game__end--won {
    display: flex;
    color: var(--color-success);
}

.Game__end-content.Game__end--lost {
    display: flex;
    color: var(--color-danger);
}

.Game__end button {
    margin: 20px;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Gabarito', sans-serif;
    font-weight: 900;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: none;
    border-radius: 10px;
}