@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Lilita+One&display=swap');

:root {
    /* Colors */
    --color-primary: #0f0f0f;
    --color-secondary: #f7f7f2;

    --color-success: #00b894;
    --color-danger: #ff6f61;
}

body {
    font-family: 'Gabarito', sans-serif;
    font-size: 16px;
    color: var(--color-primary);
    background-color: var(--color-secondary);
}